body {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #a6a6a6;
    color: #ffffff;
}

button {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

article {
    max-width: 60%;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.700);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: black;
}

img {
    width: 60%;
}

#date {
    color: blue
}

#mirror {
    color: black
}

/* Tablet query */
@media (max-width: 810px) {
article {
    width: 80%;
}

img {
    width: 100%;
    float: none;
    margin: 0 0 1rem 0;
}
}

/* Phone query */
@media (max-width: 768px) {
article {
    background: rgb(255, 255, 255);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 80%;
    font-size: 1.1rem;
}


img {
    width: 100%;
    float: none;
    margin: 0 0 1rem 0;
}
}