body {
    background-color: #ffffff;
    color: #000000;
}

button {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

/* Offset anchor scroll for sticky jump menu */
h1, h2 { scroll-margin-top: 60px;} /* adjust if needed */
h1 {font-size: 35px;}
h3 {
    font-family: "Roboto"; 
    font-size: 23px;
    color: #303030;
}

article {
    max-width: 1050px;
    margin: 0px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.700);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: black;
}

iframe {
    width: 70%;
    aspect-ratio: 16 / 9;
}

.mySlides img {width: 100%;}
#main-image {width: 650px;}

#date {color: blue}

#horizontal-line{
    width: 100%;
    height: 3px;
    background-color: black;
}

#mirror {color: black}

#linux-copy-command {
  display: block;
  background-color: black;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-family: monospace;
  overflow-x: auto;   /* allows horizontal scroll if too long */
  max-width: 100%;    /* prevent overflow */
  white-space: nowrap; /* keeps commands on one line */
}

/* Tablet query */
@media (max-width: 1024px) {
article {
    width: 90%;
    max-width: 90%;
    margin: 20px auto;
}

#main-image {width: 100%;}
img {
    width: 100%;
    float: none;
    margin: 0 0 1rem 0;
}

iframe {
    width: 80%;
    aspect-ratio: 16 / 9;
}
}

/* Phone query */
@media (max-width: 768px) {
article {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.700);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: black;
}

img {
    width: 100%;
    float: none;
    margin: 0 0 1rem 0;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}
}