article {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.65;
    max-width: 860px;
    margin: 0px auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.700);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    color: black;
}

#date {
    color: blue;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: 500;
}

.downloadthisvid {
    display: inline-block;
    background-color: rgb(89, 255, 0);
    color: black;
    text-decoration: underline;
}

.photo-explanation {
    display: inline-block;
    background-color: rgb(255, 71, 57);
    color: white;
}

h1 {
    scroll-margin-top: 60px;
    font-size: 35px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

#table-of-contents {
    display: block;
    width: fit-content;
    margin: 15px auto;
    border: 4px dashed black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

#table-of-contents b {font-size: 1.4em;}
#table-of-contents ul {font-size: 1.15em;}

#blog-topbuttons {text-align: center;}

iframe {
    display: flex;
  justify-content: center;
   align-items: center;
    aspect-ratio: 16 / 9;}

.mySlides img {width: 100%;}

#main-image {
    width: 80%;
    display: block;
    margin: auto;
}

#horizontal-line{
    width: 100%;
    height: 3px;
    background-color: black;
}

#mirror {color: black}

#linux-copy-command {
    background-color: #1e1e1e;
    color: #f1f1f1;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: 15px;
    margin: 1.5rem 0;
}

/* Tablet query */
@media (max-width: 1024px) {
article {
    width: 90%;
    max-width: 90%;
    margin: 20px auto;
}

#main-image {width: 100%;}
img {
    width: 100%;
    float: none;
    margin: 0 0 1rem 0;
}

iframe {
    width: 80%;
    aspect-ratio: 16 / 9;
}
}

/* Phone query */
@media (max-width: 768px) {
article {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px;
}

#main-image {width: 100%;}
img {
    width: 100%;
    float: none;
    margin: 0 0 1rem 0;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}
}
