body {
    background-color: #ffffff;
    color: #000000;
}

#date {
    color: rgb(0, 182, 227)
}

#desc {
    color:rgb(0, 200, 0)
}

h4 {color: orange}

#horizontal-line {
    width: 100%;
    height: 3px;
    background-color: black;
    }

#mirror {
    color: black
}

/* Tablet query */
@media (max-width: 1024px) {
iframe {
    width: 85%;
    height: 500px;
}
}

/* Phone query */
@media (max-width: 768px) {
iframe {
    width: 100%;
    height: 300px;
}
}